<h1>
    Jegyvásárlás
</h1>
<form action="#">
    <input type="text" name="nev">
    <label for="nev"> Név: *</label>
    <input type="text" name="email">
    <label for="email"> E-mail cím: *</label>
    <input type="number" name="tel">
    <label for="tel"> Telefonszám: </label>
    Koncert adatok
    <input type="text" name="koncert">
    <label for="koncert"> Koncert: *</label>
    <input type="text" name="jegytipus">
    <label for="jegytipus"> Jegytípus: *</label>
    <input type="number" name="db">
    <label for="db"> Darabszám: *</label>

    A *-al jelölt adatok megadása kötelező!
    <button class="btn-primary btn">
        Megrendelem
    </button>
</form>